In [6]:
import hw2
import pandas as pd

In [57]:
df=pd.read_csv('hw2.csv')
df = df[df['Name'].str.contains('Intron') == False].reset_index(drop=True)
exons_df = df[df['Name'].str.contains('Exon')]
start_offset = 1  # 第一个 Start 保持不变
for i in range(2, len(exons_df)+1):#1,2,3
    df.loc[i, 'Start'] = df.loc[i-1, 'End'] + 1
    df.loc[i, 'End'] = df.loc[i, 'Start'] + df.loc[i, 'Length']-1
if (df['Name'].str.contains("3'utr")).any():
    indices = df.loc[df['Name'] == "3'utr"].index-1
    print(indices)
    valid_indices = indices[indices >= 0]
    df.loc[df['Name'] == "3'utr", 'Start']=df.loc[valid_indices,'End'].iloc[0]-df.loc[df['Name'] == "3'utr","Length"].iloc[0]+1
    df.loc[df['Name'] == "3'utr", 'End']=df.loc[df['Name'] == "3'utr", 'Start'].iloc[0] +df.loc[df['Name'] == "3'utr", 'Length'].iloc[0]-1
cds_start=df.loc[df['Name'] == "5'utr", 'End'].iloc[0]+1
cds_end=df.loc[df['Name'] == "3'utr", 'Start'].iloc[0]-1
df.loc[len(df)]=["CDS",cds_start,cds_end,(cds_end-cds_start+1)]
df

Index([4], dtype='int64')

    Name  Start  End  Length
0  5'utr      1  131     131
1  Exon1      1  191     191
2  Exon2    192  522     331
3  Exon3    523  656     134
4  Exon4    657  868     212
5  3'utr    813  868      56
6    CDS    132  812     681